/*
color
200                 #FF4081
700                 #C2185B
 */

.App {
  text-align: center;
}

/* Global */
body {
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
}

h1 {
  margin-top: 45px;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

.clearfix {zoom: 1}
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}


h1:after {
  display: block;
  height: 2px;
  background-color: #C2185B;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}
/* Global end */

/* links */

/*a:link,*/
/*a:visited {*/
  /*color: #BBDEFB;*/
  /*text-decoration: none;*/
  /*padding-bottom: 1px;*/
  /*border-bottom: 1px solid #BBDEFB;*/
  /*-webkit-transition: border-bottom 0.2s, color 0.2s;*/
  /*transition: border-bottom 0.2s, color 0.2s;*/
/*}*/

/*a:hover,*/
/*a:active {*/
  /*color: #555;*/
  /*border-bottom: 1px solid transparent;*/
/*}*/

/*.App-logo {*/
  /*animation: App-logo-spin infinite 20s linear;*/
  /*height: 80px;*/
/*}*/

/*.App-header {*/
  /*background-color: rgba(158, 44, 61, 0.34);*/
  /*height: 75px;*/
  /*padding: 20px;*/
  /*color: white;*/
/*}*/

/*.App-intro {*/
  /*font-size: large;*/
/*}*/

/* Logo rotates */
/*@keyframes App-logo-spin {*/
  /*from { transform: rotate(0deg); }*/
  /*to { transform: rotate(360deg); }*/
/*}*/

/**** Navbar ****/
.navbar {
  border-radius: 0;
  margin-bottom: 0;
  border: 0;
  z-index: 999;
}

/* Main */

main {
  width: 100%;
  max-height: 694px;
}

.main-bg {
  background-attachment: fixed;
  width: 100%;
  max-height: 694px;
  z-index: 300;
}

main h1 {
  position: relative;
  color: white;
  font-size: 3em;
  /*bottom: 12em;*/
  vertical-align: middle;
  text-align: center;
  z-index: 10;
}

/* Jak To Działa - Thumbnails */

.thumbnail {
  border:0;
  display: block;
  float: left;
  box-shadow: 0;
}

.feature-item {
  text-align: center;
  font-size: 5em;
  color: #C2185B;
}

/* Search events */

.searchevents {
  background-color: #f4f4f4;
  height: 500px;
}

/* Login */
.login {
  height: 100vh;
}
/* Team */
.team {
  height: 300px;
  background-color: #f4f4f4;
}

/* Footer */
.show-grid {
  text-align: center;
}

footer {
  background-color: #FF4081;
  padding: 50px;
  font-size: 80%;
  height: 200px;
}

.footer-nav {
  list-style: none;
  float: left;
}

.social-links {
  list-style: none;
  float: right;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
  transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 160%;
}

.facebook,
.googleplus,
.instagram {

  transition: color 0.2s;
}

.facebook:hover {
  color: #3b5998;
}

.googleplus:hover {
  color: #dd4b39;
}

.instagram:hover {
  color: #517fa4;
}

/*footer p {*/
  /*color: #888;*/
  /*text-align: center;*/
  /*margin-top: 20px;*/
/*}*/