.App {
  text-align: center;
}

/* Global */
body {
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
}

h1 {
  margin-top: 45px;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

.clearfix {zoom: 1}
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}


h1:after {
  display: block;
  height: 2px;
  background-color: #2962FF;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}
/* Global end */

/*.App-logo {*/
  /*animation: App-logo-spin infinite 20s linear;*/
  /*height: 80px;*/
/*}*/

/*.App-header {*/
  /*background-color: rgba(158, 44, 61, 0.34);*/
  /*height: 75px;*/
  /*padding: 20px;*/
  /*color: white;*/
/*}*/

/*.App-intro {*/
  /*font-size: large;*/
/*}*/

/* Logo rotates */
/*@keyframes App-logo-spin {*/
  /*from { transform: rotate(0deg); }*/
  /*to { transform: rotate(360deg); }*/
/*}*/

/**** Navbar ****/
.navbar {
  border-radius: 0;
  margin-bottom: 0;
  border: 0;
  z-index: 999;
}


/* Main */

main {
  width: 100%;
  max-height: 694px;
}

.main-bg {
  width: 100%;
  max-height: 694px;
  z-index: 300;
}

main h1 {
  position: relative;
  color: white;
  font-size: 3em;
  /*bottom: 12em;*/
  vertical-align: middle;
  text-align: center;
  z-index: 10;
}

/* Jak To Działa - Thumbnails */

.thumbnail {
  border:0;
}

/* Search events */
